@{
    ViewBag.Title = "Index";
}
<div class="container text-center">
    <!--Displaying of ViewBag in HTML-->
    <br /><br />
    <h1>@ViewBag.courseName</h1>
    <br /><br />
    <h2>@ViewBag.teamMembers</h2>
    <h2>@ViewBag.groupNum</h2>
    <br /><br /><br /><br /><br /><br /><br /><br />
</div>
